<%- include ('header') %>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Cadastrar categoria</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/categorias">Categorias</a></li>
                <li class="breadcrumb-item active">Cadastrar categoria</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">          
                <div class="card-body">
                  <div class="d-flex">
                    <div class="d-flex flex-column">                    
                        <form method="POST">
                            <div class="form-row">                             
                              <div class="form-group col-md-12">
                                <!-- <label for="inputText">Título da vaga</label> -->
                                <input type="text" class="form-control" name="nome" id="inputText" placeholder="Nome da categoria">
                              </div>                    
                              
                            </div>
                            
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                          </form>
                        
                    </div>                  
                  </div>             
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


<%- include('footer') %>