<%- include('header') %>
    <div class="jumbotron text-center">
        <h1 class="display-4">Oportunidade</h1>        
    </div>
    <div class="container">       
        <h3><%-vaga.titulo %></h3>
        <p><%-vaga.descricao %></p>
    </div>
    <%- include('footer') %>